<center><img src="MKn_Staffelter_Hof.jpeg" alt="Picture of old business"</center>
<!--Image Credit: Martin Kraft https://commons.wikimedia.org/wiki/File:MKn_Staffelter_Hof.jpg -->

Staffelter Hof Winery is Germany's oldest business, established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe, such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time?

To help answer this question, BusinessFinancing.co.uk researched the oldest company still in business in **almost** every country and compiled the results into several CSV files. This dataset has been cleaned.

Having useful information in different files is a common problem. While it's better to keep different types of data separate for data storage, you'll want all the data in one place for analysis. You'll use joining and data manipulation to work with this data and better understand the world's oldest businesses.

## The Data
`data/businesses.csv` and `data/new_businesses.csv`
|Column|Description|
|------|-----------|
|`business`|Name of the business (varchar)|
|`year_founded`|Year the business was founded (int)|
|`category_code`|Code for the business category (varchar)|
|`country_code`|ISO 3166-1 three-letter country code (char)|

`data/countries.csv`
|Column|Description|
|------|-----------|
|`country_code`|ISO 3166-1 three-letter country code (varchar)|
|`country`|Name of the country (varchar)|
|`continent`|Name of the continent the country exists in (varchar)|

`data/categories.csv`
|Column|Description|
|------|-----------|
|`category_code`|Code for the business category (varchar)|
|`category`|Description of the business category (varchar)|

In [66]:
# Import necessary libraries
import pandas as pd

# Load the data
businesses = pd.read_csv("data/businesses.csv")
new_businesses = pd.read_csv("data/new_businesses.csv")
countries = pd.read_csv("data/countries.csv")
categories = pd.read_csv("data/categories.csv")

In [67]:
# Start coding here!
# Use as many cells as you like

# businesses.head()
# countries.head()

business_with_continent = businesses.merge(countries, how = 'inner', on = 'country_code')

old_business = business_with_continent.groupby(['continent'])['year_founded'].min().reset_index()

oldest_business_continent = old_business.merge(business_with_continent, how = 'inner', on = ['continent','year_founded'])[['continent','country','business','year_founded']]

oldest_business_continent.head()

       continent    country                     business  year_founded
0         Africa  Mauritius               Mauritius Post          1772
1           Asia      Japan                   Kongō Gumi           578
2         Europe    Austria  St. Peter Stifts Kulinarium           803
3  North America     Mexico  La Casa de Moneda de México          1534
4        Oceania  Australia               Australia Post          1809

In [68]:
all_business = pd.concat([new_businesses, businesses])

all_business_with_continent = all_business.merge(countries, on='country_code', how = 'outer', indicator = True)
                                                 
missing_countries = all_business_with_continent[all_business_with_continent['_merge']!="both"]
                                                 
count_missing = missing_countries.groupby("continent").agg({"country":"count"})
count_missing.columns = ["count_missing"]

In [69]:
business_with_continent.head()

                         business  year_founded  ...       country continent
0                  Hamoud Boualem          1878  ...       Algeria    Africa
1  Communauté Électrique du Bénin          1968  ...         Benin    Africa
2        Botswana Meat Commission          1965  ...      Botswana    Africa
3                     Air Burkina          1967  ...  Burkina Faso    Africa
4                         Brarudi          1955  ...       Burundi    Africa

[5 rows x 6 columns]

In [70]:
business_with_continent_category = business_with_continent.merge(categories, on='category_code', how = 'inner')

oldest_by_continent_category = business_with_continent_category.groupby(['continent','category'])['year_founded'].min().reset_index()

oldest_by_continent_category.head()

  continent                           category  year_founded
0    Africa                        Agriculture          1947
1    Africa               Aviation & Transport          1854
2    Africa                  Banking & Finance          1892
3    Africa  Distillers, Vintners, & Breweries          1933
4    Africa                             Energy          1968